<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
    <a href="{% url 'polls:index' %}" class="index_page_btn"><i class="bi bi-skip-backward-fill"> Index</i></a>
</body>
</html>

