<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/signup.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Register</h2>
            {% for message in messages %}
                <div class="message"> {{ message }} </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    <p>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}
                    <p>Enter the same password as before, for verification.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Register</button>
                </div>
            </form>
            <br>
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p1>
    </div>
    <a href="{% url 'polls:index' %}" class="index_page_btn"><i class="bi bi-skip-backward-fill"> Index</i></a>
</body>
</html>
