{% extends 'polls/base_user.html' %}

{% block title %}KU Polls{% endblock %}

{% load static %}

{% block content %}

    <script class="message">
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Swal.fire({text: "{{ message }}"});
            {% endfor %}
        });
    </script>
    {% if question_list %}
        <ul>
        {% for question in question_list %}
            {% if question.can_vote %}
            <li class="index_ctn_open">
                <div class ="q_text">
                    <i class="bi bi-patch-question"></i> {{ question.question_text }}
                </div>
                <div class="btn_g">
                    <a href = "{% url 'polls:detail' question.id %}" class="index_btn">
                        vote
                    </a>
                    <a href = "{% url 'polls:results' question.id %}" class="index_btn">
                        result
                    </a>
                </div>
            </li>
            {% else %}
            <li class="index_ctn_close">
                <div class ="q_text">
                    <i class="bi bi-patch-question"></i> {{ question.question_text }}
                </div>
                <div class="btn_g">
                    <a href = "{% url 'polls:results' question.id %}" class="after_end">
                        result
                    </a>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}