<!DOCTYPE html>
<html lang="en">
<head>
    <title>KU Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <h1>KU Polls</h1>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li class="index_ctn">
                <div class ="q_text"><i class="bi bi-patch-question"></i> {{ question.question_text }}</div>
                <div class="btn_g">
                    <a href = "{% url 'polls:detail' question.id %}" class="index_btn">
                        vote
                    </a>
                    <a href = "{% url 'polls:results' question.id %}" class="index_btn">
                        result
                    </a>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>