<!DOCTYPE html>
<html lang="en">
<head>
    <title>KU Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>KU Polls</h1>
    {% if user.is_authenticated %}
        Welcome back, {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
        </form>
    {% else %}
        Please <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <script class="message">
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Swal.fire({text: "{{ message }}"});
            {% endfor %}
        });
    </script>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            {% if question.can_vote %}
            <li class="index_ctn">
                <div class ="q_text"><i class="bi bi-patch-question"></i> {{ question.question_text }}</div>
                <div class="btn_g">
                    <a href = "{% url 'polls:detail' question.id %}" class="index_btn">
                        vote
                    </a>
                    <a href = "{% url 'polls:results' question.id %}" class="index_btn">
                        result
                    </a>
                </div>
            </li>
            {% else %}
            <li class="index_ctn">
                <div class ="q_text">
                    <i class="bi bi-patch-question"></i> {{ question.question_text }}<div class="close">(closed)</div>
                </div>
                <div class="btn_g">
                    <a href = "{% url 'polls:results' question.id %}" class="after_end">
                        result
                    </a>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>