body {
    background: white url("images/background.png") no-repeat;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.user h1 {
    color: black;
    margin-left: 40px;
    font-size: 60px;
    font-style: normal;
}

.log_btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin-right: 40px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
}

.log_btn:hover {
    color: white;
    background: #4ba860;
}

p {
    margin-left: 40px;
    color: red;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.q_text_h {
    width: 85%;
    text-align: left;
    color: black;
    font-size: 40px;
    font-style: normal;
    padding: 20px 0px;
    margin-left: 100px;
    border-bottom-style: solid;
    border-color: grey;
}

.index_ctn_close {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    border-left: 8px solid red;
}

.index_ctn_open {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    border-left: 8px solid #4ba860;
}

.q_text {
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    margin: 10px 20px;
    padding-left: 10px;
}

.btn_g {
    display: flex;
    gap: 20px;
}

.index_btn {
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 30%;
    margin: 2px 2px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
}

.after_end{
    color: black;
    align-self: flex-end;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 60%;
    margin: 2px 2px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
}

.index_btn:hover{
    color: white;
    background: red;
    opacity: 0.6;
}

.after_end:hover{
    color: white;
    background: red;
    opacity: 0.6;
}

/* detail.html */

.vote_btn {
    font-size: 30px;
    color: black;
    padding: 10px 40px;
    margin-left: 120px;
    margin-top: 20px;
    background: white;
    border: 4px solid white;
    border-radius: 5px;
    text-decoration: none;
}

.vote_btn:hover {
    color: white;
    background-color: red;
    opacity: 0.6;
}

.choice {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    margin: 25px 0px;
    margin-left: 15%;
    margin-right: 40px;
}

.choice:checked {
    border-color: yellow;
}

.c_text {
    font-size: 27px;
    padding: 20px 20px;
    margin: 70px 0px;
}

.btn_g_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    left: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: white;
    margin: 10px 20px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 3px solid white;
    transition: background-color 0.3s;
}

.left_btn {
    font-size: 20px;
    width: 7%;
    opacity: 0.7;
    align-self: flex-start;
}

.center_btn {
    font-size: 25px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right_btn {
    font-size: 20px;
    width: 7%;
    opacity: 0.7;
    align-self: flex-end;
}

.btn:hover {
    color: white;
    background: red;
    opacity: 0.6;
}




/* Style for results.html */
.vote_table {
    font-size: 25px;
}

.vote_table th {
    height: 40px;
    border: 1px solid #525252;
    background: #6a89a7;
    font-color: white;
}

.vote_table td {
    height: 50px;
    padding-left: 20px;
    border: 1px solid #525252;
}

.vote_table tr:nth-child(even) {
    background-color: #f2f3f5;
    font-color: #333333;
    opacity: 0.80;
}

.vote_table tr:nth-child(odd) {
    background-color: #f3f3f3;
    font-color: #333333;
    opacity: 0.80;
}

.vote_table tr:hover {
    font-color: black;
    opacity: 1;
}

.vote_table table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.result_page_btn {
    margin-left: 8%;
    font-size: 25px;
    color: black;
    padding: 10px 40px;
    background-color: white;
    border: 4px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.result_page_btn:hover {
    color: white;
    background-color: red;
    opacity: 0.6;
}
